<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test reference</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <form>
        <div class="mb-3">
          <label for="reference1" class="form-label">Reference 1</label>
          <input type="number" class="form-control" id="ref1" aria-describedby="ref_1">
          <div id="ref_1" class="form-text">Enter a reference for your relay signal</div>
        </div>
        <div class="mb-3">
            <label for="reference2" class="form-label">Reference 2</label>
            <input type="number" class="form-control" id="ref2" aria-describedby="ref_2">
            <div id="ref_2" class="form-text">Enter a reference for your voltage signal</div>
        </div>
        <div class="mb-3">
            <label for="reference3" class="form-label">Reference 3</label>
            <input type="number" class="form-control" id="ref3" aria-describedby="ref_3">
            <div id="ref_3" class="form-text">Enter a reference for your current signal</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>